@model EntityLayer.Concrete.Content

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h2>New Content Page</h2>
<br />
@using (Html.BeginForm("AddContent", "WriterPanelContent", FormMethod.Post))
{
    
    <div class="form-group" style="text-align:center">
        <h3>Content</h3>
        <input name="HeadingID" type="hidden" value="@ViewBag.d"/>
        @Html.TextAreaFor(x => x.ContentValue, new { @style = "resize:vertical; border:1px solid dodgerblue; border-radius:0.35rem; height:200px; width:70%" })
        @Html.ValidationMessageFor(x => x.ContentValue, null, new { @class = "text-danger" })
        <br />
        <button class="btn btn-info">Write Content</button>
    </div>
}



